*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right top,#08502a,#10556e,#97600e, #0e3c82);;
}

.wrapper{
    width: 1050px;
    padding: 25px;
    border-radius: 7px;
    background: #e6ded2;
}

.wrapper .gradient-box {
    width: 1000px;
    height: 420px;
    border-radius: 7px;
    background: linear-gradient(to left top, #ca5b00, #1dcdc4);
}

.wrapper .row{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.row :where(.column, button){
    width: calc(100% / 2 - 12px);
}

.options p{
    font-size: 1.12rem;
    margin-bottom: 8px;
}

.options .select-box{
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #9c9999;
}

.select-box select{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.09rem;
    background: #e6ded2;
}

.options .colors{
    margin-left: 60px;
}

.colors input{
    height: 41px;
    width: calc(100% / 2 - 20px);
}

.colors input:last-child{
    margin-left: 6px;
}

.wrapper textarea{
    width: 100%;
    color: #333;
    resize: none;
    font-size: 1.05rem;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.buttons button {
    color: #fff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 1.09rem;
    border:none;
    outline: none;
    border-radius: 120px;
    margin: 0 0 -15px;

}

.buttons .refresh{
    background: #6c757d;
}

.buttons .copy{
    background: #6d4097;
}

